/* scss color formatting $grayLight: #gray; */
/* Page transitions don't work yet 
.ng-enter { 
	transition: all 600ms ease-in-out; 
}
.ng-leave { 
	transition: all 600ms ease-in-out; 
} */
/* line 33, main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black !important;
  /*Overwrite Bootstrap*/
}

/* line 40, main.scss */
.ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
  height: 413px;
}

/* line 44, main.scss */
f
.screen {
  width: 100%;
  max-width: 100%;
  position: relative;
  /* opacity: .8; */
}

/* line 51, main.scss */
.mountain {
  background-image: url("../img/darkmtn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 57, main.scss */
.travelBackground {
  background-image: url("../img/tree2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 63, main.scss */
.bioWrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 68, main.scss */
.bioItem {
  font-size: 18px;
  text-align: center;
  color: white;
}

/* line 74, main.scss */
.name h1 {
  text-align: center;
  color: white;
  font-size: 27px;
  font-family: helvetica;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* line 83, main.scss */
.controlPanel {
  width: 100%;
  position: relative;
}
/* line 86, main.scss */
.controlPanel .button, .controlPanel .divider {
  display: inline-block;
  color: white;
  font-size: 16px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 94, main.scss */
.controlPanel .divider {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 98, main.scss */
.controlPanel .buttonWrap {
  width: 100%;
  text-align: center;
}
/* line 101, main.scss */
.controlPanel .buttonWrap .button a {
  color: white;
}

/* .controlPanel */
/* line 107, main.scss */
.controlPanel, .buttonWrap {
  height: 70px;
}

/* line 111, main.scss */
.bioHead {
  width: 100%;
  position: relative;
  color: white;
}

/* line 117, main.scss */
.socialgray {
  margin-top: 0px;
  background-color: gray;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  color: white;
  position: relative;
  /* opacity: .8; */
}
/* line 127, main.scss */
.socialgray .footerButtons {
  position: relative;
  display: inline-block;
  padding: 0px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 132, main.scss */
.socialgray .footerButtons li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  color: white;
}

/* .socialGray */
/* line 141, main.scss */
.blackfooter {
  position: relative;
  background-color: black;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  color: white;
  /* opacity: .8; */
}
/* line 150, main.scss */
.blackfooter .footer {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 0px;
}
/* line 155, main.scss */
.blackfooter .footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
}

/* .blackfooter */
/* line 163, main.scss */
.aboutWrap, .portfolioWrap, .travelsWrap {
  overflow: hidden;
  color: white;
}

/* Travels */
/* line 170, main.scss */
.travelsHeader {
  font-size: 36px;
}

/* line 174, main.scss */
.travelsTitle {
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 182, main.scss */
.travelsItemWrap {
  margin-top: 10px;
  padding-bottom: 25px;
}
/* line 185, main.scss */
.travelsItemWrap .travelsItem {
  font-size: 16px;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* line 194, main.scss */
.mapCols {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 197, main.scss */
.mapCols .map {
  margin: auto;
}

/* about */
/* line 204, main.scss */
.corn {
  background-image: url("../img/corn.jpg");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 211, main.scss */
.aboutTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 217, main.scss */
#abtme a {
  color: white;
  text-decoration: none;
}
/* line 218, main.scss */
#abtme a:hover {
  color: white;
}
/* line 219, main.scss */
#abtme a:active {
  color: white;
}
/* line 220, main.scss */
#abtme a:visited {
  color: white;
}

/* line 223, main.scss */
.tango {
  max-height: 380px;
  margin-top: 70px;
}

/* Portfolio */
/* line 230, main.scss */
.portfolioBackground {
  background-image: url("../img/eco.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 236, main.scss */
.portfolioWrap p a {
  color: white;
  text-decoration: underline;
}

/* line 241, main.scss */
.portfolioTitle {
  font-size: 34px;
  line-height: 39px;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 249, main.scss */
.portfolioItemWrap h1 {
  font-size: 26px;
  margin-bottom: 15px;
}
/* line 252, main.scss */
.portfolioItemWrap h1 a {
  color: white;
}

/* line 257, main.scss */
.portfolioWrap {
  padding-bottom: 30px;
}

/* ^#@Bootstrap sm */
                      /*
Larger than tablet portrait */
@media (min-width: 768px) {
  /* Home */
  /* line 266, main.scss */
  .name h1 {
    font-size: 50px;
  }

  /* line 270, main.scss */
  .bioItem {
    font-size: 25px;
  }

  /* Travels */
  /* line 275, main.scss */
  .travelsTitle {
    font-size: 40px;
    padding-top: 55px;
    padding-left: 0px;
  }

  /* line 281, main.scss */
  .map {
    margin-top: 25px;
  }

  /* line 285, main.scss */
  .footer {
    padding-left: 0px;
  }

  /* line 289, main.scss */
  .travelsItemWrap {
    margin-top: 10px;
  }
  /* line 291, main.scss */
  .travelsItemWrap .travelsItem {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 297, main.scss */
  .mapWrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 302, main.scss */
  .controlPanel, .buttonWrap {
    height: 80px;
  }

  /* line 306, main.scss */
  .corn {
    background-image: url("../img/corn.jpg");
    background-position: 100% 100%;
  }

  /* Portfolio */
  /* line 312, main.scss */
  .portfolioTitle {
    font-size: 40px;
    padding-top: 55px;
    padding-left: 0px;
    text-align: center;
  }

  /* line 319, main.scss */
  .portfolioItemWrap h1 {
    font-size: 30px;
  }
}
/* Bootstrap sm*/
/* ^#@Bootstrap md */
                    /*
Larger than tablet portrait */
@media (min-width: 992px) {
  /* line 327, main.scss */
  .mapCols {
    margin-top: 25px;
  }
  /* line 329, main.scss */
  .mapCols .map {
    margin-top: 10px;
  }

  /* line 334, main.scss */
  .ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
    height: 520px;
  }

  /* line 338, main.scss */
  .travelsItemWrap {
    margin-top: 25px;
  }
  /* line 340, main.scss */
  .travelsItemWrap .travelsItem {
    text-align: left;
    font-size: 20px;
  }

  /* line 346, main.scss */
  .travelsItem:first-child {
    margin-top: 0px;
  }
}
/*Bootstrap Md*/
@media (min-width: 1200px) {
  /* line 352, main.scss */
  .travelsItemWrap .travelsItem {
    font-size: 24px;
  }

  /* line 357, main.scss */
  .mapCols {
    margin-top: 40px;
  }
}

/*Mobile Only */
@media (max-width: 768px) {
    .hM {
      display: none;
    }
}
