/* scss color formatting $grayLight: #gray; */
/* line 25, main.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black !important;
  /*Overwrite Bootstrap*/
}

/* line 32, main.scss */
.ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
  height: 413px;
}

/* line 36, main.scss */
f
.screen {
  width: 100%;
  max-width: 100%;
  position: relative;
  /* opacity: .8; */
}

/* line 43, main.scss */
.mountain {
  background-image: url("../img/darkmtn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 49, main.scss */
.corn {
  background-image: url("../img/corn.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 56, main.scss */
.travelBackground {
  background-image: url("../img/tree2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 62, main.scss */
.bioWrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 67, main.scss */
.bioItem {
  font-size: 18px;
  text-align: center;
  color: white;
}

/* line 73, main.scss */
.name {
  text-align: center;
  color: white;
  font-size: 27px;
  font-family: helvetica;
}

/* line 80, main.scss */
.controlPanel {
  width: 100%;
  position: relative;
}
/* line 83, main.scss */
.controlPanel .button, .controlPanel .divider {
  display: inline-block;
  color: white;
  font-size: 16px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 91, main.scss */
.controlPanel .divider {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 95, main.scss */
.controlPanel .buttonWrap {
  width: 100%;
  text-align: center;
}
/* line 98, main.scss */
.controlPanel .buttonWrap .button a {
  color: white;
}

/* .controlPanel */
/* line 104, main.scss */
.controlPanel, .buttonWrap {
  height: 63px;
}

/* line 108, main.scss */
.bioHead {
  width: 100%;
  position: relative;
  color: white;
}

/* line 114, main.scss */
.socialgray {
  margin-top: 0px;
  background-color: gray;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  color: white;
  position: relative;
  /* opacity: .8; */
}
/* line 124, main.scss */
.socialgray .footerButtons {
  position: relative;
  display: inline-block;
  padding: 0px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 129, main.scss */
.socialgray .footerButtons li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  color: white;
}

/* .socialGray */
/* line 138, main.scss */
.blackfooter {
  position: relative;
  background-color: black;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  color: white;
  /* opacity: .8; */
}
/* line 147, main.scss */
.blackfooter .footer {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 0px;
}
/* line 152, main.scss */
.blackfooter .footer li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
}

/* .blackfooter */
/* line 160, main.scss */
.aboutWrap, .portfolioWrap, .travelsWrap {
  overflow: scroll;
  color: white;
}

/* Travels */
/* line 167, main.scss */
.travelsHeader {
  font-size: 36px;
}

/* line 171, main.scss */
.travelsTitle {
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 179, main.scss */
.travelsItemWrap {
  margin-top: 10px;
  padding-bottom: 25px;
}
/* line 182, main.scss */
.travelsItemWrap .travelsItem {
  font-size: 16px;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* line 191, main.scss */
.mapCols {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 194, main.scss */
.mapCols .map {
  margin: auto;
}

/* about */
/* line 201, main.scss */
.aboutTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* line 207, main.scss */
#abtme a {
  color: white;
  text-decoration: none;
}
/* line 208, main.scss */
#abtme a:hover {
  color: white;
}
/* line 209, main.scss */
#abtme a:active {
  color: white;
}
/* line 210, main.scss */
#abtme a:visited {
  color: white;
}

/* line 213, main.scss */
.tango {
  max-height: 380px;
  margin-top: 70px;
}

/* ^#@Bootstrap sm */
                      /*
Larger than tablet portrait */
@media (min-width: 768px) {
  /* Home */
  /* line 224, main.scss */
  .name {
    font-size: 50px;
  }

  /* line 228, main.scss */
  .bioItem {
    font-size: 25px;
  }

  /* Travels */
  /* line 233, main.scss */
  .travelsTitle {
    font-size: 36px;
    padding-top: 55px;
    padding-left: 0px;
  }

  /* line 239, main.scss */
  .map {
    margin-top: 25px;
  }

  /* line 243, main.scss */
  .footer {
    padding-left: 0px;
  }

  /* line 247, main.scss */
  .travelsItemWrap {
    margin-top: 10px;
  }
  /* line 249, main.scss */
  .travelsItemWrap .travelsItem {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 255, main.scss */
  .mapWrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 260, main.scss */
  .controlPanel, .buttonWrap {
    height: 80px;
  }
}
/* ^#@Bootstrap md */
                    /*
Larger than tablet portrait */
@media (min-width: 992px) {
  /* line 269, main.scss */
  .mapCols {
    margin-top: 25px;
  }
  /* line 271, main.scss */
  .mapCols .map {
    margin-top: 10px;
  }

  /* line 276, main.scss */
  .ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
    height: 520px;
  }

  /* line 280, main.scss */
  .travelsItemWrap {
    margin-top: 25px;
  }
  /* line 282, main.scss */
  .travelsItemWrap .travelsItem {
    text-align: left;
    font-size: 20px;
  }

  /* line 288, main.scss */
  .travelsItem:first-child {
    margin-top: 0px;
  }
}
/*Bootstrap Md*/
@media (min-width: 1200px) {
  /* line 294, main.scss */
  .travelsItemWrap .travelsItem {
    font-size: 24px;
  }

  /* line 299, main.scss */
  .mapCols {
    margin-top: 40px;
  }
}
