/* scss color formatting $grayLight: #gray; */

@mixin vert-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin horiz-center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin center-both {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} 

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: black !important; /*Overwrite Bootstrap*/
}

.ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
    height: 413px;
}f

.screen {
    width: 100%;
    max-width: 100%;
    position: relative;
    /* opacity: .8; */ 
}

.mountain {
	background-image: url("../img/darkmtn.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

.corn {
	background-image: url("../img/corn.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
    background-size: cover;
}

.travelBackground {
	background-image: url("../img/tree2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

.bioWrap {
    position: relative;
    @include vert-center;
}

.bioItem {
    font-size: 18px;
    text-align: center;
    color: white;
}

.name {
    text-align: center;
    color: white;
    font-size: 27px;
    font-family: helvetica; 
}

.controlPanel {
    width: 100%;
    position: relative;
	.button, .divider {
	    display: inline-block;
	    color: white;
	    font-size: 16px;
	    position: relative;
	    @include vert-center;
	}

	.divider {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.buttonWrap {
	    width: 100%;
	    text-align: center;
	    .button a {
		    color: white;
		}
	}
} /* .controlPanel */

.controlPanel, .buttonWrap {
	height: 63px;
}

.bioHead {
    width: 100%;
    position: relative;
    color: white;
}

.socialgray {
    margin-top: 0px;
    background-color: gray;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    color: white;
    position: relative;
    /* opacity: .8; */ 
    .footerButtons {
	    position: relative;
	    display: inline-block;
	    padding: 0px;
	    @include center-both;
	    li {
			list-style-type: none;
			display: inline-block;
			font-size: 15px;
			color: white; 
		}
	}
} /* .socialGray */

.blackfooter {
	position: relative;
	background-color: black;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75px;
	color: white;
	/* opacity: .8; */ 
	.footer {
		display: inline-block;
		position: relative;
		@include center-both;
		padding-left: 0px;
		li {
			list-style-type: none;
			display: inline-block;
			font-size: 15px; 
		}
	}
} /* .blackfooter */

.aboutWrap, .portfolioWrap, .travelsWrap {
    overflow: scroll;
    color: white;
}

/* Travels */

.travelsHeader {
    font-size: 36px;
}

.travelsTitle {
	font-size: 34px;
	line-height: 39px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.travelsItemWrap {
	margin-top: 10px;
	padding-bottom: 25px;
	.travelsItem {
		font-size: 16px;
		margin-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
}

.mapCols {
	padding-left: 0px !important;
	padding-right: 0px !important;
	.map {
		margin: auto;
	}
}

/* about */

.aboutTitle {
	margin-top: 15px;
	margin-bottom: 10px;
}

#abtme {
	a { color: white; text-decoration: none;}
	a:hover { color: white; }
	a:active { color: white; }
	a:visited { color: white; }
}

.tango {
	max-height: 380px;
	margin-top: 70px;
}
    
    
    /*! ^#@Bootstrap sm *//*
    Larger than tablet portrait */
    @media (min-width: 768px) {
		
		/* Home */
		.name {
		    font-size: 50px; 
		}

		.bioItem {
			font-size: 25px;
		}

		/* Travels */
    	.travelsTitle {
    		font-size: 36px;
    		padding-top: 55px;
			padding-left: 0px;
    	}

    	.map {
    		margin-top: 25px;
    	}

        .footer {
            padding-left: 0px;
        }

		.travelsItemWrap {
			margin-top: 10px;
			.travelsItem {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.mapWrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		.controlPanel, .buttonWrap {
			height: 80px;
		}

    }

    /*! ^#@Bootstrap md *//*
      Larger than tablet portrait */
    @media (min-width: 992px) {
    	.mapCols {
    		margin-top: 25px;
    		.map {
	    		margin-top: 10px;
	    	}
    	}

		.ang-wrap, .mountainSection, .homeWrap, .aboutWrap, .portfolioWrap, .travelsWrap {
			height: 520px;
		}

        .travelsItemWrap {
        	margin-top: 25px;
			.travelsItem {
				text-align: left;
	        	font-size: 20px;
	        }
        }
        	
        .travelsItem:first-child {
        	margin-top: 0px;
        }
    }/*Bootstrap Md*/
    @media (min-width: 1200px) {
    	.travelsItemWrap {
    		.travelsItem {
    			font-size: 24px;
    		}
    	}

    	.mapCols {
    		margin-top: 40px;
    	}
    	
    }